@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
    width: 0px;
    visibility: hidden;
    display: none;
}

.scrollbar-hidden {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.navbar{
    width: 100%;
}

.dashboardFeed {
    height : calc(100vh - 150px);
}

.profileFeed {
    height : calc(100vh - 370px);
}

.profileFeed.noInput {
    height : calc(100vh - 300px);
}

.topicFeed {
    height: calc(100vh - 280px);
}

.topicFeed.noInput {
    height: calc(100vh - 210px);
}

.animate-fadeOut{
    animation: fadeOut linear 1s;
}

.animate-fadeIn{
    animation: fadeIn linear 1s;
}

.animate-spin{
    animation: spin 0.3s linear infinite;
}

@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-moz-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-o-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-ms-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@keyframes fadeOut {
  0% {opacity:1;}
  100% {opacity:0;}
}

@-moz-keyframes fadeOut {
  0% {opacity:1;}
  100% {opacity:0;}
}

@-webkit-keyframes fadeOut {
  0% {opacity:1;}
  100% {opacity:0;}
}

@-o-keyframes fadeOut {
  0% {opacity:1;}
  100% {opacity:0;}
}

@-ms-keyframes fadeOut {
  0% {opacity:1;}
  100% {opacity:0;}
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
