@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
    width: 0px;
}

.dashboardFeed {
    height: calc(100vh - 165px);
}

.profileFeed {
    height: calc(100vh - 375px);
}